# Data Types and Structures Questions

**1. What are data structures, and why are they important?**
- A data structure is a way to organize, manage, and store data so it can be efficiently accessed and modified
- Data structures help manage and store data in a way that makes it easy to access and modify.

**2.  Explain the difference between mutable and immutable data types with examples**
-  Objects that can be modified after their creation. You can change their content without changing their identity.

  Examples: list, dict, set

-  Objects that cannot be modified after their creation. Any operation that alters their value creates a new object.

  Examples: int, float, bool, str, tuple

In [ ]:
#Mutable data type
my_list = [1, 2, 3]
print("Original List:", my_list)

# Modifying the list
my_list.append(4)
print("Modified List:", my_list)

#immutable data type
my_string = "Hello"
print("Original String:", my_string)

new_string = my_string + " World"
print("Modified String:", new_string)
print("Original String (unchanged):", my_string)

Original List: [1, 2, 3]
Modified List: [1, 2, 3, 4]
Original String: Hello
Modified String: Hello World
Original String (unchanged): Hello

**3. What are the main differences between lists and tuples in Python?**
- **lists:**
- Mutable: Can be modified (add, remove, or change elements).
- Defined using square brackets [ ].
- Suitable for collections of items that may change.
- Has more built-in methods like append(), extend(), remove(), etc.
- **tuples:**
- Immutable: Cannot be modified after creation.
- Defined using parentheses ( ).
- Suitable for fixed collections of items.
- Supports methods like count() and index().

**4. Describe how dictionaries store data?**
- A dictionary is a collection of key-value pairs where:
 Key: The unique identifier, Value: The data associated with the key.

In [ ]:
#example
my_dict = {"name": "Deep", "age": 26}
my_dict

{'name': 'Deep', 'age': 26}

**5. Why might you use a set instead of a list in Python?**
- Sets automatically remove duplicates and provide fast membership testing

In [ ]:
#example
my_list = [1, 2, 2, 3]
my_set = set(my_list)  # {1, 2, 3}
print(2 in my_set)  # True

True

**6. What is a string in Python, and how is it different from a list?**
- A string is a sequence of characters, while a list is a sequence of elements that can be of any type.
- Strings are immutable, while lists are mutable.

In [ ]:
my_string = "hello"
my_list = ["h", True, "2.5", "l", 1]
print(my_list)
print(my_string)

['h', True, '2.5', 'l', 1]
hello

**7. How do tuples ensure data integrity in Python?**
- Tuples are immutable, meaning their contents cannot be changed after creation. This ensures data cannot be accidentally modified.

In [ ]:
#example
my_tuple = (1, 2, 3)
# my_tuple[0] = 4  # Error: Tuples are immutable

**8.  What is a hash table, and how does it relate to dictionaries in Python?**
- A hash table is a data structure that maps keys to values using a hash function.
- Dictionaries in Python are implemented as hash tables.

In [ ]:
#example
my_dict = {"key1": "value1", "key2": "value2"}
print(my_dict["key1"])  # Uses hashing to retrieve the value

value1

**9.  Can lists contain different data types in Python?**
- Yes, lists can contain elements of different data types.

In [ ]:
#example:
list=["str",2.5,1,True]
list

['str', 2.5, 1, True]

**10.  Why are strings immutable in Python?**
- Strings are immutable to enhance performance and ensure thread safety.

In [ ]:
#exmple:
my_string = "hello"
my_string[0] = "H"

TypeError: 'str' object does not support item assignment

**11. What advantages do dictionaries offer over lists for certain tasks?**
- Key-value mapping: Suitable for storing relationships
- Accessing elements by key is faster than searching a list by value

In [ ]:
#e.g:
my_dict = {"name": "Deep", "age": 26}
print(my_dict["name"])  # Fast access

Deep

**12.  Describe a scenario where using a tuple would be preferable over a list.**
- Use a tuple to store constant data, like coordinates.

In [ ]:
#e.g:
point = (10, 20)
# Tuples ensure the coordinates cannot be accidentally changed.

**13.  How do sets handle duplicate values in Python?**
- Sets automatically remove duplicates.

In [ ]:
#example:
my_set = {1, 2, 2, 3, 3}
print(my_set)

{1, 2, 3}

**14.  How does the “in” keyword work differently for lists and dictionaries?**

- Lists: Checks for element presence.
- Dictionaries: Checks for key presence.

In [ ]:
#exmple:
my_list = [1, 2, 3]
my_dict = {"a": 1, "b": 2}
print(1 in my_list)  # True
print("a" in my_dict)  # True

True
True

**15. Can you modify the elements of a tuple? Explain why or why not.**
- No, tuples are immutable.

In [ ]:
#example:
my_tuple = (1, 2, 3)
my_tuple[0] = 4

TypeError: 'tuple' object does not support item assignment

**16.  What is a nested dictionary, and give an example of its use case?**
- A nested dictionary is a dictionary containing another dictionary

In [ ]:
#example :
employees = {
    "emp1": {"name": "Deep", "age": 26},
    "emp2": {"name": "Rahul", "age": 26},
}
print(employees["emp1"]["name"])  # Deep

Deep

**17. Describe the time complexity of accessing elements in a dictionary.**
-  O(1)

**18.  In what situations are lists preferred over dictionaries?**
- You only need a collection of values without key-value mapping.
- Order is important.

**19.Why are dictionaries considered unordered, and how does that affect data retrieval?**
-

**20. Explain the difference between a list and a dictionary in terms of data retrieval.**
- Lists: Retrieve elements by index.
- Dictionaries: Retrieve values by key.

In [ ]:
#example:
my_list = [10, 20, 30]
my_dict = {"a": 10, "b": 20}
print(my_list[0])  # 10
print(my_dict["a"])  # 10

10
10

# Practical Questions

In [ ]:
#1. Write a code to create a string with your name and print it.
str="Deep"
print(str)

Deep

In [22]:
#2. Write a code to find the length of the string "Hello World"?
str="Hello World"
print(len(str))

11

In [24]:
#3. Write a code to slice the first 3 characters from the string "Python Programming
str="Python Programming"
print(str[0:3])

Pyt

In [25]:
#4.  Write a code to convert the string "hello" to uppercase
str="hello"
print(str.upper())

HELLO

In [26]:
#5.  Write a code to replace the word "apple" with "orange" in the string "I like apple"
str="I like apple"
print(str.replace("apple","orange"))

I like orange

In [28]:
#6. Write a code to create a list with numbers 1 to 5 and print it
list=[1,2,3,4,5]
print(list)
for i in range(len(list)):
  print(list[i],end=" ")

[1, 2, 3, 4, 5]
1 2 3 4 5

In [29]:
#7.  Write a code to append the number 10 to the list [1, 2, 3, 4]
list=[1,2,3,4]
list.append(10)
print(list)

[1, 2, 3, 4, 10]

In [30]:
#8. Write a code to remove the number 3 from the list [1, 2, 3, 4, 5]
list=[1,2,3,4,5]
list.remove(3)
print(list)

[1, 2, 4, 5]

In [31]:
#9. Write a code to access the second element in the list ['a', 'b', 'c', 'd']
list=['a', 'b', 'c', 'd']
print(list[1])

b

In [32]:
#10. Write a code to reverse the list [10, 20, 30, 40, 50]
list=[10, 20, 30, 40, 50]
list.reverse()
print(list)

[50, 40, 30, 20, 10]

In [33]:
#11. Write a code to create a tuple with the elements 10, 20, 30 and print it
tuple=(10,20,30)
print(tuple)

(10, 20, 30)

In [34]:
#12.  Write a code to access the first element of the tuple ('apple', 'banana', 'cherry').
tuple=('apple', 'banana', 'cherry')
print(tuple[0])

apple

In [35]:
#13. Write a code to count how many times the number 2 appears in the tuple (1, 2, 3, 2, 4, 2)
tuple=(1, 2, 3, 2, 4, 2)
print(tuple.count(2))

3

In [36]:
#14. Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit').
tuple=('dog', 'cat', 'rabbit')
print(tuple.index("cat"))

1

In [37]:
#15.  Write a code to check if the element "banana" is in the tuple ('apple', 'orange', 'banana').
tuple=('apple', 'orange', 'banana')
print("banana" in tuple)

True

In [38]:
#16.  Write a code to create a set with the elements 1, 2, 3, 4, 5 and print it.
set={1,2,3,4,5}
print(set)

{1, 2, 3, 4, 5}

In [39]:
#17. Write a code to add the element 6 to the set {1, 2, 3, 4}.
set={1, 2, 3, 4}
set.add(6)
print(set)

{1, 2, 3, 4, 6}

In [41]:
#18.  Write a code to create a tuple with the elements 10, 20, 30 and print it.
t=(10,20,30)
print(t)

(10, 20, 30)

In [42]:
#19. Write a code to access the first element of the tuple ('apple', 'banana', 'cherry').
tuple=('apple', 'banana', 'cherry')
print(tuple[0])

apple

In [43]:
#20. Write a code to count how many times the number 2 appears in the tuple (1, 2, 3, 2, 4, 2).
t= (1, 2, 3, 2, 4, 2)
print(t.count(2))

3

In [44]:
#21.  Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit')
t=('dog', 'cat', 'rabbit')
print(t.index("cat"))

1

In [45]:
#22. Write a code to check if the element "banana" is in the tuple ('apple', 'orange', 'banana').
t=('apple', 'orange', 'banana')
print("banana" in t)

True

In [46]:
#23.  Write a code to create a set with the elements 1, 2, 3, 4, 5 and print it.
s={1,2,3,4,5}
print(s)

{1, 2, 3, 4, 5}

In [47]:
#24.  Write a code to add the element 6 to the set {1, 2, 3, 4}.
s={1, 2, 3, 4}
s.add(6)
print(s)

{1, 2, 3, 4, 6}